<p>myapp works!</p>
<h2>title {{property}} </h2>
<h2>title1 {{project}}</h2>
<h2 *ngFor="let e of work">{{e.name}}....{{e.role}}</h2>
<h4 *ngFor="let e of job">{{e}}</h4>
<!-- <p>angular-project</p> -->
 {{title}}
<input type="text" value="{{title}}">
<input type="text" [value]="title" disabled={{isDisabled}}>
<!-- <input type="text" [value]="title" [disabled]="isDisabled"> -->
<!-- template reference -->
<input type="text" #myName [value]="title" [disabled]="isDisabled">
<button (click)="onClick($event)">submit</button>
<button (click)="tempRef(myName.value)">Reset</button>
{{myName.value}}


<button (click)="onTouch1()">Update</button>
<button (click)="Ontouch()">Touch</button>
<button (click)="onClick1()">Click</button>

<h2 *ngIf="show; else elseBlock">welcome</h2>
<ng-template #elseBlock>
    <p>not welcome</p>
</ng-template>
<!-- <h2 *ngIf="!show">not welcome</h2> -->
<ul>
    <!-- array of elements in list -->
    <!-- <li *ngFor="let e of array;">
      {{e}}
    </li> -->
    <!-- it will give the index of the elements -->
    <!-- <li *ngFor="index as i;">
        {{i}}
    </li> -->
    <!-- it will returns the 1st value true and rest of this false -->
    <!-- <li *ngFor="first as f;">
        {{f}}
    </li> -->
    <!-- it will returns the last value true and rest of this false -->
    <!-- <li *ngFor="last as l;">
        {{l}}
    </li> -->
</ul>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
        </tr>
    </thead>
<tbody *ngFor="let f of array;index as i">
    <tr>
        <td>{{i}}</td>
    <td> {{f.name}} </td>
    <td> {{f.age}} </td>
    <td> {{f.gender}} </td>
    </tr>

</tbody>
</table>
<input type="text" [(ngModel)]="twoWay">
{{twoWay}}




